.App{
  margin-left: 350px;
  width: 600px;
  height: 650px;
  border: 5px solid #dddddd;
}
.App ul{
  background-color: #0c0733;
  height: 30px;
  margin:0;
}

.App ul li{
  float: left;
  display: inline;
  margin: 25px;
}
.App ul li a{
  color: white;
  text-decoration: none;
  font-size: 30px;
}
 .App ul li a:hover{
   background-color: rgb(39, 129, 247);
 }
