.App{
  border: 10px solid #dddddd;
  width: 800px;
  height:700px;
}

.App ul{
  height: 80px;
  background-color: rgb(8, 8, 73);
  margin: 0px;
}

.App ul li{
  display: inline;
  float: left;
  padding: 20px;
  color:white;
}

.App ul li a{
  font-size: 30px;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.App ul li a:hover{
  background-color: rgb(57, 130, 238);
}
